.DescText {
    color: whitesmoke;
}

.QuestionBackground {
    background-color: #006b3c !important;
    border-radius: 12px;
    width: 100%;
    margin-left:0;
    padding-left: 0px !important;
}


.QuestionButton {
    background-color: white !important;
    color: #006b3c;
    align-items: center;
}

.QuestionButton:hover {
    background-color: white !important;
    color: #00d076;
    align-items: center;
}