.DescText {
    color: whitesmoke;
}

.QuestionBackground {
    background-color: #2a294d !important;
    background-color: #006b3c !important;
}


.QuestionButton {
    background-color: white !important;
    color: #006b3c;
    align-items: center;
}