h1 {
  color: magenta;
}

h3 {
  color: cyan;
}

body {
  text-align: center;
}

.box {
  margin: 20px;
  background: #2a294d !important;
  color: aqua;
  text-align: center;
  margin: auto;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
}

.grid > div {
  flex-basis: calc(33% - 40px);
  text-align: center;
}

.card-text {
    font-size: 30px;
    color: aqua;
    line-height: 1.5;
    text-align: center !important;

}