body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fdfff8;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-primary {
    background-color: #006b3c;
    border: none;
}

.btn-primary:hover {
    background-color: #004f2d;
    border: none;
}

.btn-primary:disabled {
    background-color: #0e462e;
}


.link-primary {
    color: #006b3c;
}

.problem-link {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.problem-link:hover {
    color: rgb(242, 242, 242);
    text-decoration: none;
    cursor: pointer;
}