.questions section{
    /* background-image: linear-gradient(65deg, #022916b0, #661152b9); */
    border-radius: 10px;
    cursor: pointer;
}
.questions section h1{
    color: rgb(251, 10, 255);
}

.questions section p, section ul{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    color: rgb(151, 232, 231);
}
.questions .track{
    color: black;
    padding: 7px;
}
.card{
    color: white;
    padding: 0.5%;
    /*background-image: linear-gradient(180deg, #367cffd7, #ae5ff8be);*/
    background-color:#006b3c;
}

.btn-primary {
    background-color:#006b3c;
    border: none;
}

.link-primary {
    color:#006b3c;
}

.questions .form, .form select, .form input{
    display: grid;
    justify-content: center;
}
.questions .form select, .form input{
    background-color: rgba(151, 232, 231, 0.308);
}
.questions .form input::placeholder{
    color: rgba(0, 0, 0, 0.236);
}
