section{
    /* background-image: linear-gradient(65deg, #022916b0, #661152b9); */
    border-radius: 10px;
    cursor: pointer;
}
section h1{
    color: rgb(251, 10, 255);
}

section p, section ul{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    color: rgb(151, 232, 231);
}
.track{
    color: black;
    padding: 7px;
}
.card{
    border: px solid black;
    margin: 10px 0;
    color: white;
    padding: 0.5%;
    background-image: linear-gradient(65deg, #022916b0, #661152b9);
}

.form, .form select, .form input{
    display: grid;
    justify-content: center;
}
.form select, .form input{
    background-color: rgba(151, 232, 231, 0.308);
}
.form input::placeholder{
    color: rgba(0, 0, 0, 0.236);
}