  /* Sign up and Log in CSS */
  .auth-form-container, .login-form, .register-form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    text-align: left;
    padding: 0.25rem 0;
  }
  
  input {
    margin: 0.5rem 0;
    padding: 1rem;
    border: none;
    border-radius: 10px;
    border: #060124 solid 0.9px;
    background-color: transparent;
  }
  ::placeholder{
    color: #060124;
  }
  button{
    border:#282c34;
    background-image: linear-gradient(65deg, #1f5c82b0, #e09dd0b9);
    opacity: 94%;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: small;
    font-weight: 500;
  }
  
  .link-button{
    background: none;
    color: black;
    text-decoration: underline;
    padding-top: 20px;
  }
  
.register-form {
    background: rgba(0, 0, 0, 0.053);
    border-radius: 20px;
    width: 60vw;
    padding: 40px;
}

#register-button {
    margin-top:20px;
}